Django==4.2.22
channels==4.2.2
channels-redis==4.2.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.7.0
psycopg2-binary==2.9.10
redis==5.2.1
celery[redis]==5.5.2
stripe==8.8.0
python-decouple==3.8
daphne==4.1.2
whitenoise==6.9.0
gunicorn==23.0.0
uvicorn[standard]==0.32.1
chess==1.11.2
