Django==4.2.13
channels==4.0.0
channels-redis==4.2.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
redis==5.0.4
celery==5.3.6
stripe==8.8.0
python-decouple==3.8
daphne==4.0.0
